body{

    background-color: rgb(16,32,47);

}

select{
    color: aliceblue;

    background-color: rgb(16,32,47);;
    margin-left: 700px;
    padding-left: 100px;
    
    padding: 10px;
    border: none;

}
.image{

margin-left: 715px;
margin-top: 100px;

}

.Email input{

    margin-left: 650px;
    background-color: rgb(28,41,50);

    color: rgb(28,41,50);
    width: 220px;
    height: 30px;
    border: none;
    border-radius: 8px;
}

.password input{

    margin-left: 650px;
    background-color: rgb(28,41,50);
    border: none;
    color: rgb(28,41,50);
    width: 220px;
    height: 30px;
    border-radius: 8px;

}

.login{

    
    margin-left: 650px;
    height: 100px;
    background-color: rgb(0,98,221);
    border-radius: 100px;
    width: 220px;
    height: 30px;
    

}
.login a{
    color: aliceblue;
    margin-left: 88px;
    text-decoration: none;
    

}

.forget a{

    color: aliceblue;
    margin-left: 695px;
    text-decoration: none;

}

.new{
    margin-top: 125px;
    margin-left: 655px;
    margin-right: auto;
    background-color: rgb(14,39,35);
    border: 3px solid rgb(90,149,197);
    width: 200px;
    height: 26px;
    border-radius: 80px;

}
.new a{
    color: rgb(98,144,190);
    text-align: center;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 20%;

}

.meta{
    margin-left: 720px;


}



